      :root {
        --aspect-ratio: 1080 / 1440;
        --bg-color: #111;
        --card-radius: 8px;
      }

      body {
        font-family:
          -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
          Arial, sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        margin: 0;
        background-color: var(--bg-color);
      }

      /* Main Container */
      .instagram-post {
        width: 100%;
        max-width: 450px; /*Limits size on desktop*/
        background: #222;
        border: 1px solid #000;
        border-radius: var(--card-radius);
        position: relative;
        margin-top: 40px;
      }

      /* @media only screen and (max-width: 700px) {
        .instagram-post {
          max-width: 95vw;
        }
      } */

      /* The 1080x1440 Aspect Ratio Box */
      .carousel-viewport {
        position: relative;
        width: 100%;
        aspect-ratio: var(--aspect-ratio);
        overflow-x: auto;
        display: flex;
        scroll-snap-type: x mandatory;
        scrollbar-width: none; /* Hide scrollbar Firefox */
        -ms-overflow-style: none; /* Hide scrollbar IE/Edge */
      }

      .carousel-viewport::-webkit-scrollbar {
        display: none; /* Hide scrollbar Chrome/Safari */
      }

      .slide {
        flex: 0 0 100%;
        width: 100%;
        height: 100%;
        scroll-snap-align: start;
      }

      .slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }

      /* Navigation Buttons */
      .nav-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: rgba(255, 255, 255, 0.8);
        border: none;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        z-index: 10;
        transition: opacity 0.3s;
      }

      .nav-btn:disabled {
        opacity: 0;
        cursor: default;
      }
      .prev-btn {
        left: 10px;
      }
      .next-btn {
        right: 10px;
      }

      /* Indicators (Dots) */
      .dots-container {
        display: flex;
        justify-content: center;
        gap: 4px;
        padding: 12px 0;
      }

      .dot {
        width: 6px;
        height: 6px;
        background: #a8a8a8;
        border-radius: 50%;
        transition:
          background 0.3s,
          transform 0.3s;
      }

      .dot.active {
        background: #0095f6;
        transform: scale(1.2);
      }

      li {
        list-style: none;
        
      }

       li a {
        color: yellow;
       }